{
  "openapi": "3.1.0",
  "x-postgrip-source": "postgrip-web/api/agent-openapi.json",
  "info": {
    "title": "PostGrip Agent API",
    "version": "1.0.0",
    "description": "Canonical HTTP contract consumed by the PostGrip Agent SDKs. Workflow replay, request signing, archive streaming, and WebSocket framing remain SDK runtime concerns."
  },
  "servers": [
    {
      "url": "https://agentorchestrator1.postgrip.io"
    }
  ],
  "tags": [
    { "name": "System" },
    { "name": "Namespaces" },
    { "name": "Tasks" },
    { "name": "Schedules" },
    { "name": "Workflows" },
    { "name": "Agent runtime" },
    { "name": "Sandboxes" }
  ],
  "paths": {
    "/healthz": {
      "get": {
        "operationId": "health",
        "summary": "Liveness probe",
        "description": "Returns a fixed ok status without touching the store. This is the only route that bypasses authentication entirely, so an uptime monitor can call it with no credential.",
        "tags": ["System"],
        "x-postgrip-sdk-generate": true,
        "x-postgrip-auth-lane": "public",
        "responses": {
          "200": { "$ref": "#/components/responses/HealthResponse" }
        }
      }
    },
    "/readyz": {
      "get": {
        "operationId": "ready",
        "summary": "Readiness probe with store counts",
        "description": "Reports readiness along with current task, workflow, schedule, and namespace counts. Unlike the liveness probe this route requires a credential.",
        "tags": ["System"],
        "x-postgrip-sdk-generate": true,
        "x-postgrip-auth-lane": "management",
        "security": [{ "managementToken": [] }],
        "responses": {
          "200": { "$ref": "#/components/responses/ReadyResponse" },
          "default": { "$ref": "#/components/responses/ErrorResponse" }
        }
      }
    },
    "/api/v1/namespaces": {
      "get": {
        "operationId": "listNamespaces",
        "summary": "List namespaces visible to the caller",
        "description": "Scoped to the tenant the credential resolves to, and narrowed further to the agent's namespace allow-list when called with an agent session.",
        "tags": ["Namespaces"],
        "x-postgrip-sdk-generate": true,
        "x-postgrip-auth-lane": "either",
        "security": [{ "managementToken": [] }, { "agentSession": [] }],
        "responses": {
          "200": {
            "description": "Namespaces",
            "content": {
              "application/json": {
                "schema": { "type": "array", "items": { "$ref": "#/components/schemas/Namespace" } }
              }
            }
          },
          "default": { "$ref": "#/components/responses/ErrorResponse" }
        }
      },
      "post": {
        "operationId": "createNamespace",
        "summary": "Create a namespace",
        "description": "Any tenantId in the body is ignored and replaced with the tenant the credential resolves to.",
        "tags": ["Namespaces"],
        "x-postgrip-sdk-generate": true,
        "x-postgrip-auth-lane": "management",
        "security": [{ "managementToken": [] }],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CreateNamespaceRequest" } } }
        },
        "responses": {
          "201": { "$ref": "#/components/responses/NamespaceResponse" },
          "default": { "$ref": "#/components/responses/ErrorResponse" }
        }
      }
    },
    "/api/v1/admin/compact": {
      "post": {
        "operationId": "compact",
        "summary": "Purge finished tasks and workflows across every tenant",
        "description": "Deletes every succeeded or failed task, and every workflow that is not running, last updated before the retention cutoff -- along with their events and history. Irreversible, and deliberately not scoped to one tenant: a tenant-scoped credential is refused rather than narrowed.",
        "tags": ["System"],
        "x-postgrip-sdk-generate": true,
        "x-postgrip-auth-lane": "global-admin",
        "security": [{ "globalAdminToken": [] }],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CompactRequest" } } }
        },
        "responses": {
          "200": {
            "description": "Compaction result",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CompactResponse" } } }
          },
          "default": { "$ref": "#/components/responses/ErrorResponse" }
        }
      }
    },
    "/api/v1/tasks": {
      "get": {
        "operationId": "listTasks",
        "summary": "List tasks",
        "description": "Filters by namespace, queue, type, and state within the caller's tenant, then sorts and paginates.",
        "tags": ["Tasks"],
        "x-postgrip-sdk-generate": true,
        "x-postgrip-auth-lane": "either",
        "security": [{ "managementToken": [] }, { "agentSession": [] }],
        "parameters": [
          { "$ref": "#/components/parameters/NamespaceQuery" },
          { "$ref": "#/components/parameters/QueueQuery" },
          { "name": "type", "in": "query", "schema": { "type": "string" } },
          { "name": "state", "in": "query", "schema": { "$ref": "#/components/schemas/TaskState" } },
          { "$ref": "#/components/parameters/OrderByQuery" },
          { "$ref": "#/components/parameters/PageTokenQuery" },
          { "$ref": "#/components/parameters/LimitQuery" },
          { "$ref": "#/components/parameters/OffsetQuery" }
        ],
        "responses": {
          "200": {
            "description": "Tasks",
            "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/Task" } } } }
          },
          "default": { "$ref": "#/components/responses/ErrorResponse" }
        }
      },
      "post": {
        "operationId": "enqueueTask",
        "summary": "Enqueue a task",
        "description": "Returns 202 with the created task. Any tenantId in the body is replaced with the tenant the credential resolves to.",
        "tags": ["Tasks"],
        "x-postgrip-sdk-generate": true,
        "x-postgrip-auth-lane": "either",
        "security": [{ "managementToken": [] }, { "agentSession": [] }],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/EnqueueTaskRequest" } } }
        },
        "responses": {
          "202": { "$ref": "#/components/responses/TaskResponse" },
          "default": { "$ref": "#/components/responses/ErrorResponse" }
        }
      }
    },
    "/api/v1/tasks/{taskId}": {
      "parameters": [{ "$ref": "#/components/parameters/TaskId" }],
      "get": {
        "operationId": "getTask",
        "summary": "Fetch a single task",
        "description": "A task belonging to another tenant is reported as 404 rather than 403, so identifiers cannot be probed across tenant boundaries.",
        "tags": ["Tasks"],
        "x-postgrip-sdk-generate": true,
        "x-postgrip-auth-lane": "either",
        "security": [{ "managementToken": [] }, { "agentSession": [] }],
        "responses": {
          "200": { "$ref": "#/components/responses/TaskResponse" },
          "default": { "$ref": "#/components/responses/ErrorResponse" }
        }
      }
    },
    "/api/v1/tasks/{taskId}/events": {
      "parameters": [{ "$ref": "#/components/parameters/TaskId" }],
      "get": {
        "operationId": "listTaskEvents",
        "summary": "List a task's event stream",
        "description": "Returns the task's full event history in order -- lease, start, heartbeat, stdout, stderr, and terminal events. This endpoint is not paginated.",
        "tags": ["Tasks"],
        "x-postgrip-sdk-generate": true,
        "x-postgrip-auth-lane": "either",
        "security": [{ "managementToken": [] }, { "agentSession": [] }],
        "responses": {
          "200": {
            "description": "Task events",
            "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/TaskEvent" } } } }
          },
          "default": { "$ref": "#/components/responses/ErrorResponse" }
        }
      }
    },
    "/api/v1/schedules": {
      "get": {
        "operationId": "listSchedules",
        "summary": "List schedules",
        "tags": ["Schedules"],
        "x-postgrip-sdk-generate": true,
        "x-postgrip-auth-lane": "management",
        "security": [{ "managementToken": [] }],
        "parameters": [
          { "$ref": "#/components/parameters/NamespaceQuery" },
          { "name": "state", "in": "query", "schema": { "$ref": "#/components/schemas/ScheduleState" } },
          { "$ref": "#/components/parameters/PageTokenQuery" },
          { "$ref": "#/components/parameters/LimitQuery" },
          { "$ref": "#/components/parameters/OffsetQuery" }
        ],
        "responses": {
          "200": {
            "description": "Schedules",
            "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/Schedule" } } } }
          },
          "default": { "$ref": "#/components/responses/ErrorResponse" }
        }
      },
      "post": {
        "operationId": "createSchedule",
        "summary": "Create a schedule",
        "description": "Returns 202. Any tenantId in the body is replaced with the tenant the credential resolves to.",
        "tags": ["Schedules"],
        "x-postgrip-sdk-generate": true,
        "x-postgrip-auth-lane": "management",
        "security": [{ "managementToken": [] }],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CreateScheduleRequest" } } }
        },
        "responses": {
          "202": { "$ref": "#/components/responses/ScheduleResponse" },
          "default": { "$ref": "#/components/responses/ErrorResponse" }
        }
      }
    },
    "/api/v1/schedules/{scheduleId}": {
      "parameters": [{ "$ref": "#/components/parameters/ScheduleId" }],
      "get": {
        "operationId": "getSchedule",
        "summary": "Fetch a single schedule",
        "tags": ["Schedules"],
        "x-postgrip-sdk-generate": true,
        "x-postgrip-auth-lane": "management",
        "security": [{ "managementToken": [] }],
        "responses": {
          "200": { "$ref": "#/components/responses/ScheduleResponse" },
          "default": { "$ref": "#/components/responses/ErrorResponse" }
        }
      },
      "patch": {
        "operationId": "updateSchedule",
        "summary": "Update a schedule",
        "description": "A partial update: only the fields present in the body are changed.",
        "tags": ["Schedules"],
        "x-postgrip-sdk-generate": true,
        "x-postgrip-auth-lane": "management",
        "security": [{ "managementToken": [] }],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/UpdateScheduleRequest" } } }
        },
        "responses": {
          "200": { "$ref": "#/components/responses/ScheduleResponse" },
          "default": { "$ref": "#/components/responses/ErrorResponse" }
        }
      },
      "delete": {
        "operationId": "deleteSchedule",
        "summary": "Delete a schedule",
        "description": "Returns the deleted schedule with 200 rather than an empty 204; the record moves to the deleted state.",
        "tags": ["Schedules"],
        "x-postgrip-sdk-generate": true,
        "x-postgrip-auth-lane": "management",
        "security": [{ "managementToken": [] }],
        "responses": {
          "200": { "$ref": "#/components/responses/ScheduleResponse" },
          "default": { "$ref": "#/components/responses/ErrorResponse" }
        }
      }
    },
    "/api/v1/schedules/{scheduleId}/pause": {
      "parameters": [{ "$ref": "#/components/parameters/ScheduleId" }],
      "post": {
        "operationId": "pauseSchedule",
        "summary": "Pause a schedule",
        "description": "Stops the schedule firing without deleting it, and returns the updated schedule.",
        "tags": ["Schedules"],
        "x-postgrip-sdk-generate": true,
        "x-postgrip-auth-lane": "management",
        "security": [{ "managementToken": [] }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PauseScheduleRequest" } } } },
        "responses": {
          "200": { "$ref": "#/components/responses/ScheduleResponse" },
          "default": { "$ref": "#/components/responses/ErrorResponse" }
        }
      }
    },
    "/api/v1/schedules/{scheduleId}/unpause": {
      "parameters": [{ "$ref": "#/components/parameters/ScheduleId" }],
      "post": {
        "operationId": "unpauseSchedule",
        "summary": "Resume a paused schedule",
        "tags": ["Schedules"],
        "x-postgrip-sdk-generate": true,
        "x-postgrip-auth-lane": "management",
        "security": [{ "managementToken": [] }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/UnpauseScheduleRequest" } } } },
        "responses": {
          "200": { "$ref": "#/components/responses/ScheduleResponse" },
          "default": { "$ref": "#/components/responses/ErrorResponse" }
        }
      }
    },
    "/api/v1/schedules/{scheduleId}/trigger": {
      "parameters": [{ "$ref": "#/components/parameters/ScheduleId" }],
      "post": {
        "operationId": "triggerSchedule",
        "summary": "Run a schedule immediately",
        "description": "Fires the schedule out of band from its spec. The next scheduled run is unaffected.",
        "tags": ["Schedules"],
        "x-postgrip-sdk-generate": true,
        "x-postgrip-auth-lane": "management",
        "security": [{ "managementToken": [] }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/TriggerScheduleRequest" } } } },
        "responses": {
          "202": {
            "description": "Triggered run",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/TriggerScheduleResponse" } } }
          },
          "default": { "$ref": "#/components/responses/ErrorResponse" }
        }
      }
    },
    "/api/v1/schedules/{scheduleId}/backfill": {
      "parameters": [{ "$ref": "#/components/parameters/ScheduleId" }],
      "post": {
        "operationId": "backfillSchedule",
        "summary": "Backfill a schedule across a time range",
        "description": "Enqueues one task per scheduled instant between the requested start and end. A range that would exceed the server's per-request cap is rejected outright rather than silently truncated.",
        "tags": ["Schedules"],
        "x-postgrip-sdk-generate": true,
        "x-postgrip-auth-lane": "management",
        "security": [{ "managementToken": [] }],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/BackfillScheduleRequest" } } }
        },
        "responses": {
          "202": {
            "description": "Backfilled runs",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/BackfillScheduleResponse" } } }
          },
          "default": { "$ref": "#/components/responses/ErrorResponse" }
        }
      }
    },
    "/api/v1/workflows": {
      "get": {
        "operationId": "listWorkflows",
        "summary": "List workflow executions",
        "tags": ["Workflows"],
        "x-postgrip-sdk-generate": true,
        "x-postgrip-auth-lane": "either",
        "security": [{ "managementToken": [] }, { "agentSession": [] }],
        "parameters": [
          { "$ref": "#/components/parameters/NamespaceQuery" },
          { "name": "id", "in": "query", "schema": { "type": "string" } },
          { "name": "run_id", "in": "query", "schema": { "type": "string" } },
          { "name": "type", "in": "query", "schema": { "type": "string" } },
          { "$ref": "#/components/parameters/QueueQuery" },
          { "name": "state", "in": "query", "schema": { "$ref": "#/components/schemas/WorkflowState" } },
          { "name": "query", "in": "query", "schema": { "type": "string" } },
          { "name": "q", "in": "query", "schema": { "type": "string" }, "description": "Compatibility alias for query." },
          { "$ref": "#/components/parameters/AgentIdQuery" },
          { "$ref": "#/components/parameters/OrderByQuery" },
          { "name": "order", "in": "query", "schema": { "type": "string" }, "description": "Compatibility alias for order_by." },
          { "$ref": "#/components/parameters/PageTokenQuery" },
          { "name": "search.*", "in": "query", "schema": { "$ref": "#/components/schemas/JsonValue" }, "description": "Search-attribute filter; replace * with the attribute name." },
          { "$ref": "#/components/parameters/LimitQuery" },
          { "$ref": "#/components/parameters/OffsetQuery" }
        ],
        "responses": {
          "200": {
            "description": "Workflow executions",
            "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/WorkflowExecution" } } } }
          },
          "default": { "$ref": "#/components/responses/ErrorResponse" }
        }
      }
    },
    "/api/v1/workflows/count": {
      "get": {
        "operationId": "countWorkflows",
        "summary": "Count workflow executions matching a filter",
        "description": "Applies the same filters as the list operation and returns only the count. Paging parameters are ignored.",
        "tags": ["Workflows"],
        "x-postgrip-sdk-generate": true,
        "x-postgrip-auth-lane": "either",
        "security": [{ "managementToken": [] }, { "agentSession": [] }],
        "parameters": [
          { "$ref": "#/components/parameters/NamespaceQuery" },
          { "name": "id", "in": "query", "schema": { "type": "string" } },
          { "name": "run_id", "in": "query", "schema": { "type": "string" } },
          { "name": "type", "in": "query", "schema": { "type": "string" } },
          { "$ref": "#/components/parameters/QueueQuery" },
          { "name": "state", "in": "query", "schema": { "$ref": "#/components/schemas/WorkflowState" } },
          { "name": "query", "in": "query", "schema": { "type": "string" } },
          { "name": "q", "in": "query", "schema": { "type": "string" }, "description": "Compatibility alias for query." },
          { "$ref": "#/components/parameters/AgentIdQuery" },
          { "name": "search.*", "in": "query", "schema": { "$ref": "#/components/schemas/JsonValue" }, "description": "Search-attribute filter; replace * with the attribute name." }
        ],
        "responses": {
          "200": {
            "description": "Workflow count",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/WorkflowCountResponse" } } }
          },
          "default": { "$ref": "#/components/responses/ErrorResponse" }
        }
      }
    },
    "/api/v1/workflows/{workflowId}": {
      "parameters": [{ "$ref": "#/components/parameters/WorkflowId" }],
      "get": {
        "operationId": "getWorkflow",
        "summary": "Fetch a workflow execution",
        "description": "Returns the latest run of the workflow.",
        "tags": ["Workflows"],
        "x-postgrip-sdk-generate": true,
        "x-postgrip-auth-lane": "either",
        "security": [{ "managementToken": [] }, { "agentSession": [] }],
        "responses": {
          "200": { "$ref": "#/components/responses/WorkflowResponse" },
          "default": { "$ref": "#/components/responses/ErrorResponse" }
        }
      }
    },
    "/api/v1/workflows/{workflowId}/history": {
      "parameters": [{ "$ref": "#/components/parameters/WorkflowId" }],
      "get": {
        "operationId": "listWorkflowHistory",
        "summary": "List a workflow's history events",
        "tags": ["Workflows"],
        "x-postgrip-sdk-generate": true,
        "x-postgrip-auth-lane": "either",
        "security": [{ "managementToken": [] }, { "agentSession": [] }],
        "responses": {
          "200": {
            "description": "Workflow history",
            "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/WorkflowHistoryEvent" } } } }
          },
          "default": { "$ref": "#/components/responses/ErrorResponse" }
        }
      }
    },
    "/api/v1/workflows/{workflowId}/signal": {
      "parameters": [{ "$ref": "#/components/parameters/WorkflowId" }],
      "post": {
        "operationId": "signalWorkflow",
        "summary": "Send a signal to a running workflow",
        "description": "Returns 202 with the appended history event. A signal also releases the workflow's blocked task, which is how a task that parked itself resumes. Signalling a workflow that is no longer running fails.",
        "tags": ["Workflows"],
        "x-postgrip-sdk-generate": true,
        "x-postgrip-auth-lane": "either",
        "security": [{ "managementToken": [] }, { "agentSession": [] }],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SignalWorkflowRequest" } } }
        },
        "responses": {
          "202": { "$ref": "#/components/responses/WorkflowHistoryEventResponse" },
          "default": { "$ref": "#/components/responses/ErrorResponse" }
        }
      }
    },
    "/api/v1/workflows/{workflowId}/signal-with-start": {
      "parameters": [{ "$ref": "#/components/parameters/WorkflowId" }],
      "post": {
        "operationId": "signalWithStartWorkflow",
        "summary": "Signal a workflow, starting it first if none is running",
        "description": "Starts a new execution of workflowType when no running one exists, then delivers the signal. A workflowId in the body takes precedence over the one in the path.",
        "tags": ["Workflows"],
        "x-postgrip-sdk-generate": true,
        "x-postgrip-auth-lane": "either",
        "security": [{ "managementToken": [] }, { "agentSession": [] }],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SignalWithStartWorkflowRequest" } } }
        },
        "responses": {
          "202": {
            "description": "Workflow execution and history event",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SignalWithStartWorkflowResponse" } } }
          },
          "default": { "$ref": "#/components/responses/ErrorResponse" }
        }
      }
    },
    "/api/v1/workflows/{workflowId}/cancel": {
      "parameters": [{ "$ref": "#/components/parameters/WorkflowId" }],
      "post": {
        "operationId": "cancelWorkflow",
        "summary": "Request cooperative cancellation of a workflow",
        "description": "Asks the workflow to stop at its next cancellation point. Use terminate for an execution that does not cooperate.",
        "tags": ["Workflows"],
        "x-postgrip-sdk-generate": true,
        "x-postgrip-auth-lane": "either",
        "security": [{ "managementToken": [] }, { "agentSession": [] }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CancelWorkflowRequest" } } } },
        "responses": {
          "202": { "$ref": "#/components/responses/WorkflowHistoryEventResponse" },
          "default": { "$ref": "#/components/responses/ErrorResponse" }
        }
      }
    },
    "/api/v1/workflows/{workflowId}/terminate": {
      "parameters": [{ "$ref": "#/components/parameters/WorkflowId" }],
      "post": {
        "operationId": "terminateWorkflow",
        "summary": "Forcibly terminate a workflow",
        "description": "Stops the execution immediately, without giving workflow code a chance to clean up.",
        "tags": ["Workflows"],
        "x-postgrip-sdk-generate": true,
        "x-postgrip-auth-lane": "either",
        "security": [{ "managementToken": [] }, { "agentSession": [] }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/TerminateWorkflowRequest" } } } },
        "responses": {
          "202": { "$ref": "#/components/responses/WorkflowHistoryEventResponse" },
          "default": { "$ref": "#/components/responses/ErrorResponse" }
        }
      }
    },
    "/api/v1/agent/session/refresh": {
      "post": {
        "operationId": "refreshAgentSession",
        "summary": "Exchange a refresh token for a new agent session",
        "description": "The refresh token in the body is itself the credential, so this operation carries no bearer token. Rotation is single-use: presenting a token that has already been rotated revokes the whole token family.",
        "tags": ["Agent runtime"],
        "x-postgrip-sdk-generate": true,
        "x-postgrip-auth-lane": "public",
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/RefreshAgentSessionRequest" } } }
        },
        "responses": {
          "200": {
            "description": "Refreshed delegated session",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AgentSessionResponse" } } }
          },
          "default": { "$ref": "#/components/responses/ErrorResponse" }
        }
      }
    },
    "/api/v1/agent/poll": {
      "get": {
        "operationId": "pollAgentTask",
        "summary": "Long-poll for the next leased task or lifecycle directive",
        "description": "Blocks up to wait_seconds and returns 200 with an empty object -- not 204 -- when nothing is available. A queued lifecycle directive (upgrade, log level, attest) is returned in place of a task, and an agent that has been removed receives 410 carrying a shutdown directive.",
        "tags": ["Agent runtime"],
        "x-postgrip-sdk-generate": true,
        "x-postgrip-auth-lane": "agent",
        "security": [{ "agentSession": [] }],
        "parameters": [
          { "$ref": "#/components/parameters/NamespaceQuery" },
          { "$ref": "#/components/parameters/QueueQueryRequired" },
          { "$ref": "#/components/parameters/AgentIdQuery" },
          { "name": "version", "in": "query", "schema": { "type": "integer", "minimum": 0 }, "description": "Current agent runtime version used to enforce upgrade policy." },
          { "name": "log_level", "in": "query", "schema": { "type": "string", "enum": ["debug", "info", "warn", "warning", "error"] }, "description": "Current agent log level used to synchronize runtime configuration." },
          { "name": "capabilities", "in": "query", "schema": { "type": "array", "items": { "type": "string" } }, "description": "Runtime and isolation capabilities advertised by the agent. The server accepts repeated or comma-separated values." },
          { "name": "wait_seconds", "in": "query", "schema": { "type": "integer", "minimum": 0, "maximum": 30, "default": 20 } },
          { "name": "task_types", "in": "query", "schema": { "type": "string" }, "description": "Comma-separated task types." }
        ],
        "responses": {
          "200": {
            "description": "Leased task, if available",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PollTaskResponse" } } }
          },
          "default": { "$ref": "#/components/responses/ErrorResponse" }
        }
      }
    },
    "/api/v1/agent/tasks/{taskId}/heartbeat": {
      "parameters": [{ "$ref": "#/components/parameters/TaskId" }, { "$ref": "#/components/parameters/AgentIdQuery" }],
      "post": {
        "operationId": "heartbeatAgentTask",
        "summary": "Extend a leased task's lease",
        "description": "Extends the lease and appends a heartbeat event. The task must currently be leased to the calling agent.",
        "tags": ["Agent runtime"],
        "x-postgrip-sdk-generate": true,
        "x-postgrip-auth-lane": "agent",
        "x-postgrip-request-signing": "agent-task-v1",
        "security": [{ "agentSession": [] }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HeartbeatTaskRequest" } } } },
        "responses": { "200": { "$ref": "#/components/responses/TaskResponse" }, "default": { "$ref": "#/components/responses/ErrorResponse" } }
      }
    },
    "/api/v1/agent/tasks/{taskId}/events": {
      "parameters": [{ "$ref": "#/components/parameters/TaskId" }, { "$ref": "#/components/parameters/AgentIdQuery" }],
      "post": {
        "operationId": "appendAgentTaskEvent",
        "summary": "Append an event to a leased task",
        "description": "Records one progress, stdout, stderr, or milestone event and returns 202. It does not extend the lease -- send a heartbeat for that.",
        "tags": ["Agent runtime"],
        "x-postgrip-sdk-generate": true,
        "x-postgrip-auth-lane": "agent",
        "x-postgrip-request-signing": "agent-task-v1",
        "security": [{ "agentSession": [] }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AppendTaskEventRequest" } } } },
        "responses": { "202": { "$ref": "#/components/responses/TaskEventResponse" }, "default": { "$ref": "#/components/responses/ErrorResponse" } }
      }
    },
    "/api/v1/agent/tasks/{taskId}/complete": {
      "parameters": [{ "$ref": "#/components/parameters/TaskId" }, { "$ref": "#/components/parameters/AgentIdQuery" }],
      "post": {
        "operationId": "completeAgentTask",
        "summary": "Complete a leased task successfully",
        "description": "Terminal. Stores the result, releases the lease, and advances the owning workflow. Secret values drawn from the task's environment are masked out of the stored result.",
        "tags": ["Agent runtime"],
        "x-postgrip-sdk-generate": true,
        "x-postgrip-auth-lane": "agent",
        "x-postgrip-request-signing": "agent-task-v1",
        "security": [{ "agentSession": [] }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CompleteTaskRequest" } } } },
        "responses": { "200": { "$ref": "#/components/responses/TaskResponse" }, "default": { "$ref": "#/components/responses/ErrorResponse" } }
      }
    },
    "/api/v1/agent/tasks/{taskId}/block": {
      "parameters": [{ "$ref": "#/components/parameters/TaskId" }, { "$ref": "#/components/parameters/AgentIdQuery" }],
      "post": {
        "operationId": "blockAgentTask",
        "summary": "Park a leased task until its workflow is signalled",
        "description": "Non-terminal: the task moves to blocked and its lease is released, so it is not retried and no longer counts against the agent. It resumes only when its workflow receives a signal.",
        "tags": ["Agent runtime"],
        "x-postgrip-sdk-generate": true,
        "x-postgrip-auth-lane": "agent",
        "x-postgrip-request-signing": "agent-task-v1",
        "security": [{ "agentSession": [] }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/BlockTaskRequest" } } } },
        "responses": { "200": { "$ref": "#/components/responses/TaskResponse" }, "default": { "$ref": "#/components/responses/ErrorResponse" } }
      }
    },
    "/api/v1/agent/tasks/{taskId}/fail": {
      "parameters": [{ "$ref": "#/components/parameters/TaskId" }, { "$ref": "#/components/parameters/AgentIdQuery" }],
      "post": {
        "operationId": "failAgentTask",
        "summary": "Fail a leased task",
        "description": "Terminal. Records the error, releases the lease, and drives the workflow's retry or failure handling. Error text is masked for secrets before it is stored.",
        "tags": ["Agent runtime"],
        "x-postgrip-sdk-generate": true,
        "x-postgrip-auth-lane": "agent",
        "x-postgrip-request-signing": "agent-task-v1",
        "security": [{ "agentSession": [] }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/FailTaskRequest" } } } },
        "responses": { "200": { "$ref": "#/components/responses/TaskResponse" }, "default": { "$ref": "#/components/responses/ErrorResponse" } }
      }
    },
    "/api/v1/sandboxes": {
      "get": {
        "operationId": "listSandboxes",
        "summary": "List sandboxes",
        "description": "Returns the tenant's live sandboxes. Deleted sandboxes are omitted here but remain fetchable by id.",
        "tags": ["Sandboxes"],
        "x-postgrip-sdk-generate": true,
        "x-postgrip-auth-lane": "management",
        "security": [{ "managementToken": [] }],
        "responses": {
          "200": { "description": "Sandbox envelope", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SandboxListResponse" } } } },
          "default": { "$ref": "#/components/responses/ErrorResponse" }
        }
      },
      "post": {
        "operationId": "createSandbox",
        "summary": "Create a sandbox",
        "description": "Records the desired sandbox and returns 201. Provisioning is asynchronous, so the returned record is not yet running. Names must be unique per tenant among live sandboxes.",
        "tags": ["Sandboxes"],
        "x-postgrip-sdk-generate": true,
        "x-postgrip-auth-lane": "management",
        "security": [{ "managementToken": [] }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SandboxCreateRequest" } } } },
        "responses": { "201": { "$ref": "#/components/responses/SandboxResponse" }, "default": { "$ref": "#/components/responses/ErrorResponse" } }
      }
    },
    "/api/v1/sandboxes/{sandboxId}": {
      "parameters": [{ "$ref": "#/components/parameters/SandboxId" }],
      "get": {
        "operationId": "getSandbox",
        "summary": "Fetch a sandbox",
        "tags": ["Sandboxes"],
        "x-postgrip-sdk-generate": true,
        "x-postgrip-auth-lane": "management",
        "security": [{ "managementToken": [] }],
        "responses": { "200": { "$ref": "#/components/responses/SandboxResponse" }, "default": { "$ref": "#/components/responses/ErrorResponse" } }
      },
      "delete": {
        "operationId": "deleteSandbox",
        "summary": "Request sandbox deletion",
        "description": "Sets desired state to deleted and returns 202 with the updated record. Teardown is asynchronous and completes when the assigned agent reports it.",
        "tags": ["Sandboxes"],
        "x-postgrip-sdk-generate": true,
        "x-postgrip-auth-lane": "management",
        "security": [{ "managementToken": [] }],
        "responses": { "202": { "$ref": "#/components/responses/SandboxResponse" }, "default": { "$ref": "#/components/responses/ErrorResponse" } }
      }
    },
    "/api/v1/sandboxes/{sandboxId}/start": {
      "parameters": [{ "$ref": "#/components/parameters/SandboxId" }],
      "post": {
        "operationId": "startSandbox",
        "summary": "Request that a sandbox start",
        "description": "Sets desired state to running and returns 202. The returned record still carries the previous observed state; a sandbox is ready only once observedState is running and observedGeneration has caught up with generation.",
        "tags": ["Sandboxes"],
        "x-postgrip-sdk-generate": true,
        "x-postgrip-auth-lane": "management",
        "security": [{ "managementToken": [] }],
        "responses": { "202": { "$ref": "#/components/responses/SandboxResponse" }, "default": { "$ref": "#/components/responses/ErrorResponse" } }
      }
    },
    "/api/v1/sandboxes/{sandboxId}/stop": {
      "parameters": [{ "$ref": "#/components/parameters/SandboxId" }],
      "post": {
        "operationId": "stopSandbox",
        "summary": "Request that a sandbox stop",
        "description": "Sets desired state to stopped and returns 202. The assigned agent applies it asynchronously.",
        "tags": ["Sandboxes"],
        "x-postgrip-sdk-generate": true,
        "x-postgrip-auth-lane": "management",
        "security": [{ "managementToken": [] }],
        "responses": { "202": { "$ref": "#/components/responses/SandboxResponse" }, "default": { "$ref": "#/components/responses/ErrorResponse" } }
      }
    },
    "/api/v1/sandboxes/{sandboxId}/sessions": {
      "parameters": [{ "$ref": "#/components/parameters/SandboxId" }],
      "post": {
        "operationId": "createSandboxSession",
        "summary": "Mint a single-use ticket for an interactive session",
        "description": "Creates a pending pty or exec session and returns its ticket exactly once -- only a hash of it is stored. The ticket is short-lived and is redeemed against the connect operation. The sandbox must already be running.",
        "tags": ["Sandboxes"],
        "x-postgrip-sdk-generate": true,
        "x-postgrip-auth-lane": "management",
        "security": [{ "managementToken": [] }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CreateSandboxSessionRequest" } } } },
        "responses": {
          "201": { "description": "Single-use relay ticket", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CreateSandboxSessionResponse" } } } },
          "default": { "$ref": "#/components/responses/ErrorResponse" }
        }
      }
    },
    "/api/v1/workspaces": {
      "post": {
        "operationId": "uploadWorkspace",
        "summary": "Upload a workspace archive",
        "description": "The request body is a raw gzipped tar stream, not a multipart form. Repository and revision metadata travel in the X-PostGrip-Repository and X-PostGrip-Revision headers. Storage is content-addressed, so re-uploading identical bytes returns the existing record rather than creating a new one.",
        "tags": ["Sandboxes"],
        "x-postgrip-sdk-generate": true,
        "x-postgrip-auth-lane": "management",
        "x-postgrip-streaming-request": true,
        "security": [{ "managementToken": [] }],
        "parameters": [
          { "name": "X-PostGrip-Repository", "in": "header", "schema": { "type": "string", "example": "my-repo" } },
          { "name": "X-PostGrip-Revision", "in": "header", "schema": { "type": "string", "example": "9f1c2d4" } }
        ],
        "requestBody": {
          "required": true,
          "content": { "application/gzip": { "schema": { "type": "string", "format": "binary" } } }
        },
        "responses": {
          "201": { "description": "Content-addressed workspace", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SandboxWorkspace" } } } },
          "default": { "$ref": "#/components/responses/ErrorResponse" }
        }
      }
    },
    "/api/v1/sandbox-sessions/{sessionId}/connect": {
      "parameters": [
        { "$ref": "#/components/parameters/SessionId" },
        { "name": "ticket", "in": "query", "required": true, "schema": { "type": "string" } }
      ],
      "get": {
        "operationId": "connectSandboxSession",
        "summary": "Attach to an interactive session over WebSocket",
        "description": "Upgrades to a WebSocket carrying raw, unframed stdio; stdout and stderr are interleaved on one stream and there is no resize channel. The process exit code arrives as the WebSocket close status offset by 4000, not in the stream itself.",
        "tags": ["Sandboxes"],
        "x-postgrip-sdk-generate": true,
        "x-postgrip-auth-lane": "management",
        "x-postgrip-websocket": true,
        "security": [{ "managementToken": [] }],
        "responses": {
          "101": { "description": "WebSocket protocol switch" },
          "default": { "$ref": "#/components/responses/ErrorResponse" }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "managementToken": { "type": "http", "scheme": "bearer", "description": "Management token issued by the PostGrip console." },
      "globalAdminToken": { "type": "http", "scheme": "bearer", "description": "Service-level administration token accepted only by global administration endpoints." },
      "agentSession": { "type": "http", "scheme": "bearer", "description": "Delegated short-lived agent session. Signed operations also carry the PostGrip Ed25519 request-signing headers." }
    },
    "parameters": {
      "TaskId": { "name": "taskId", "in": "path", "required": true, "schema": { "type": "string" } },
      "ScheduleId": { "name": "scheduleId", "in": "path", "required": true, "schema": { "type": "string" } },
      "WorkflowId": { "name": "workflowId", "in": "path", "required": true, "schema": { "type": "string" } },
      "SandboxId": { "name": "sandboxId", "in": "path", "required": true, "schema": { "type": "string" } },
      "SessionId": { "name": "sessionId", "in": "path", "required": true, "schema": { "type": "string" } },
      "AgentIdQuery": { "name": "agent_id", "in": "query", "schema": { "type": "string" }, "description": "Compatibility identifier; authenticated requests derive the agent from the session token." },
      "NamespaceQuery": { "name": "namespace", "in": "query", "schema": { "type": "string" } },
      "QueueQuery": { "name": "queue", "in": "query", "schema": { "type": "string" } },
      "QueueQueryRequired": { "name": "queue", "in": "query", "required": true, "schema": { "type": "string" } },
      "OrderByQuery": { "name": "order_by", "in": "query", "schema": { "type": "string" } },
      "PageTokenQuery": { "name": "page_token", "in": "query", "schema": { "type": "string" } },
      "LimitQuery": { "name": "limit", "in": "query", "schema": { "type": "integer", "minimum": 0 } },
      "OffsetQuery": { "name": "offset", "in": "query", "schema": { "type": "integer", "minimum": 0 } }
    },
    "responses": {
      "HealthResponse": { "description": "Service health", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HealthResponse" } } } },
      "ReadyResponse": { "description": "Service readiness", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ReadyResponse" } } } },
      "NamespaceResponse": { "description": "Namespace", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Namespace" } } } },
      "TaskResponse": { "description": "Task", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Task" } } } },
      "TaskEventResponse": { "description": "Task event", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/TaskEvent" } } } },
      "ScheduleResponse": { "description": "Schedule", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Schedule" } } } },
      "WorkflowResponse": { "description": "Workflow execution", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/WorkflowExecution" } } } },
      "WorkflowHistoryEventResponse": { "description": "Workflow history event", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/WorkflowHistoryEvent" } } } },
      "SandboxResponse": { "description": "Sandbox", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Sandbox" } } } },
      "ErrorResponse": { "description": "Request failed", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
    },
    "schemas": {
      "JsonValue": {},
      "HealthResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": ["status"],
        "properties": { "status": { "type": "string" } }
      },
      "ReadyResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": ["status", "stats"],
        "properties": { "status": { "type": "string" }, "stats": { "type": "object", "additionalProperties": { "type": "integer" } } }
      },
      "TaskState": { "type": "string", "enum": ["queued", "leased", "blocked", "succeeded", "failed"] },
      "TaskEventKind": { "type": "string", "example": "progress", "enum": ["leased", "started", "heartbeat", "milestone", "progress", "stdout", "stderr", "completed", "failed"] },
      "AgentPollDirectiveType": { "type": "string", "enum": ["upgrade", "shutdown", "log_level", "poll_now", "attest"] },
      "AgentPollDirectiveSubject": { "type": "string", "enum": ["agent", "agent_helper"] },
      "WorkflowState": { "type": "string", "enum": ["running", "succeeded", "failed", "continued_as_new"] },
      "WorkflowIdReusePolicy": { "type": "string", "enum": ["allow_duplicate", "allow_duplicate_failed_only", "reject_duplicate"] },
      "ScheduleState": { "type": "string", "enum": ["active", "paused", "deleted"] },
      "ScheduleOverlapPolicy": { "type": "string", "enum": ["skip", "allow_all"] },
      "ScheduleMissedRunPolicy": { "type": "string", "enum": ["catch_up", "skip"] },
      "SandboxBackend": { "type": "string", "enum": ["auto", "docker", "podman", "firecracker"] },
      "SandboxDesiredState": { "type": "string", "enum": ["running", "stopped", "deleted"] },
      "SandboxObservedState": { "type": "string", "enum": ["requested", "scheduling", "provisioning", "setting_up", "running", "stopping", "stopped", "starting", "deleting", "deleted", "failed"] },
      "SandboxSessionKind": { "type": "string", "enum": ["pty", "exec"] },
      "Namespace": {
        "type": "object",
        "additionalProperties": false,
        "required": ["name", "created_at", "updated_at"],
        "properties": {
          "tenantId": { "type": "string" },
          "name": { "type": "string" },
          "created_at": { "type": "string", "format": "date-time" },
          "updated_at": { "type": "string", "format": "date-time" }
        }
      },
      "CreateNamespaceRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": ["name"],
        "properties": { "tenantId": { "type": "string" }, "name": { "type": "string", "minLength": 1 } }
      },
      "CompactRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": { "retention_seconds": { "type": "integer", "minimum": 0, "default": 0, "example": 604800 } }
      },
      "CompactResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": ["removed_tasks", "removed_workflows"],
        "properties": {
          "removed_tasks": { "type": "integer" },
          "removed_workflows": { "type": "integer" }
        }
      },
      "EnqueueTaskRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": ["type"],
        "properties": {
          "tenantId": { "type": "string" },
          "type": { "type": "string" },
          "namespace": { "type": "string" },
          "queue": { "type": "string" },
          "payload": { "$ref": "#/components/schemas/JsonValue" },
          "lease_timeout_seconds": { "type": "integer", "minimum": 0 }
        }
      },
      "Task": {
        "type": "object",
        "additionalProperties": false,
        "required": ["id", "namespace", "queue", "type", "state", "attempt", "lease_timeout_seconds", "created_at", "updated_at"],
        "properties": {
          "id": { "type": "string" },
          "tenantId": { "type": "string" },
          "type": { "type": "string" },
          "state": { "$ref": "#/components/schemas/TaskState" },
          "namespace": { "type": "string" },
          "queue": { "type": "string" },
          "attempt": { "type": "integer", "minimum": 0 },
          "agent_id": { "type": "string" },
          "lease_timeout_seconds": { "type": "integer", "minimum": 0 },
          "not_before": { "type": "string", "format": "date-time" },
          "leased_until": { "type": "string", "format": "date-time" },
          "payload": { "$ref": "#/components/schemas/JsonValue" },
          "result": { "$ref": "#/components/schemas/TaskResult" },
          "error": { "type": "string" },
          "created_at": { "type": "string", "format": "date-time" },
          "updated_at": { "type": "string", "format": "date-time" }
        }
      },
      "TaskResult": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "exit_code": { "type": "integer", "example": 0 },
          "stdout": { "type": "string" },
          "stderr": { "type": "string" },
          "message": { "type": "string" },
          "value": { "$ref": "#/components/schemas/JsonValue" },
          "failure": { "$ref": "#/components/schemas/FailureInfo" },
          "continue_as_new": { "$ref": "#/components/schemas/ContinueAsNewResult" },
          "started_at": { "type": "string", "format": "date-time" },
          "finished_at": { "type": "string", "format": "date-time" }
        }
      },
      "FailureInfo": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "message": { "type": "string" },
          "type": { "type": "string" },
          "non_retryable": { "type": "boolean" },
          "details": { "type": "array", "items": { "$ref": "#/components/schemas/JsonValue" } }
        }
      },
      "ContinueAsNewResult": {
        "type": "object",
        "additionalProperties": false,
        "required": ["workflow_id", "workflow_type", "task_queue", "task_id"],
        "properties": {
          "workflow_id": { "type": "string" },
          "workflow_type": { "type": "string" },
          "task_queue": { "type": "string" },
          "task_id": { "type": "string" }
        }
      },
      "TaskEventInput": {
        "type": "object",
        "additionalProperties": false,
        "required": ["kind"],
        "properties": {
          "kind": { "$ref": "#/components/schemas/TaskEventKind" },
          "stage": { "type": "string" },
          "message": { "type": "string" },
          "stream": { "type": "string" },
          "data": { "type": "string" },
          "details": { "type": "object", "additionalProperties": { "$ref": "#/components/schemas/JsonValue" } }
        }
      },
      "TaskEvent": {
        "type": "object",
        "additionalProperties": false,
        "required": ["id", "task_id", "kind", "created_at"],
        "properties": {
          "id": { "type": "string" },
          "task_id": { "type": "string" },
          "tenantId": { "type": "string" },
          "agent_id": { "type": "string" },
          "kind": { "$ref": "#/components/schemas/TaskEventKind" },
          "stage": { "type": "string" },
          "message": { "type": "string" },
          "stream": { "type": "string" },
          "data": { "type": "string" },
          "details": { "type": "object", "additionalProperties": { "$ref": "#/components/schemas/JsonValue" } },
          "created_at": { "type": "string", "format": "date-time" }
        }
      },
      "RetryPolicy": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "maximumAttempts": { "type": "integer" },
          "initialIntervalMs": { "type": "integer" },
          "backoffCoefficient": { "type": "number" },
          "maximumIntervalMs": { "type": "integer" },
          "expirationIntervalMs": { "type": "integer" },
          "nonRetryableErrorTypes": { "type": "array", "items": { "type": "string" } }
        }
      },
      "ScheduleCalendarSpec": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "minute": { "type": "array", "items": { "type": "integer" } },
          "hour": { "type": "array", "items": { "type": "integer" } },
          "day_of_month": { "type": "array", "items": { "type": "integer" } },
          "month": { "type": "array", "items": { "type": "integer" } },
          "day_of_week": { "type": "array", "items": { "type": "integer" } }
        }
      },
      "ScheduleSpec": {
        "type": "object",
        "additionalProperties": false,
        "example": { "cron": "0 2 * * *", "timezone": "UTC" },
        "properties": {
          "interval_seconds": { "type": "integer" },
          "cron": { "type": "string" },
          "calendar": { "$ref": "#/components/schemas/ScheduleCalendarSpec" },
          "timezone": { "type": "string" },
          "jitter_seconds": { "type": "integer" },
          "catch_up_window_seconds": { "type": "integer" },
          "missed_run_policy": { "$ref": "#/components/schemas/ScheduleMissedRunPolicy" },
          "start_at": { "type": "string", "format": "date-time" }
        }
      },
      "ScheduleAction": {
        "type": "object",
        "additionalProperties": false,
        "required": ["workflowType"],
        "properties": {
          "namespace": { "type": "string" },
          "queue": { "type": "string" },
          "workflowType": { "type": "string" },
          "workflowId": { "type": "string" },
          "workflowIdReusePolicy": { "$ref": "#/components/schemas/WorkflowIdReusePolicy" },
          "runTimeoutMs": { "type": "integer" },
          "retry": { "$ref": "#/components/schemas/RetryPolicy" },
          "memo": { "type": "object", "additionalProperties": { "$ref": "#/components/schemas/JsonValue" } },
          "searchAttributes": { "type": "object", "additionalProperties": { "$ref": "#/components/schemas/JsonValue" } },
          "args": { "type": "array", "items": { "$ref": "#/components/schemas/JsonValue" } }
        }
      },
      "Schedule": {
        "type": "object",
        "additionalProperties": false,
        "required": ["id", "namespace", "state", "spec", "action", "next_run_at", "created_at", "updated_at"],
        "properties": {
          "id": { "type": "string" },
          "tenantId": { "type": "string" },
          "namespace": { "type": "string" },
          "state": { "$ref": "#/components/schemas/ScheduleState" },
          "overlap_policy": { "$ref": "#/components/schemas/ScheduleOverlapPolicy" },
          "spec": { "$ref": "#/components/schemas/ScheduleSpec" },
          "action": { "$ref": "#/components/schemas/ScheduleAction" },
          "last_run_at": { "type": "string", "format": "date-time" },
          "next_run_at": { "type": "string", "format": "date-time" },
          "created_at": { "type": "string", "format": "date-time" },
          "updated_at": { "type": "string", "format": "date-time" }
        }
      },
      "CreateScheduleRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": ["spec", "action"],
        "properties": {
          "id": { "type": "string" },
          "tenantId": { "type": "string" },
          "namespace": { "type": "string" },
          "overlap_policy": { "$ref": "#/components/schemas/ScheduleOverlapPolicy" },
          "spec": { "$ref": "#/components/schemas/ScheduleSpec" },
          "action": { "$ref": "#/components/schemas/ScheduleAction" }
        }
      },
      "UpdateScheduleRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "overlap_policy": { "$ref": "#/components/schemas/ScheduleOverlapPolicy" },
          "spec": { "$ref": "#/components/schemas/ScheduleSpec" },
          "action": { "$ref": "#/components/schemas/ScheduleAction" }
        }
      },
      "PauseScheduleRequest": { "type": "object", "additionalProperties": false, "properties": { "reason": { "type": "string" } } },
      "UnpauseScheduleRequest": { "type": "object", "additionalProperties": false, "properties": { "reason": { "type": "string" } } },
      "TriggerScheduleRequest": { "type": "object", "additionalProperties": false, "properties": { "reason": { "type": "string" } } },
      "TriggerScheduleResponse": { "type": "object", "additionalProperties": false, "required": ["schedule", "task"], "properties": { "schedule": { "$ref": "#/components/schemas/Schedule" }, "task": { "$ref": "#/components/schemas/Task" } } },
      "BackfillScheduleRequest": { "type": "object", "additionalProperties": false, "required": ["start_at", "end_at"], "properties": { "start_at": { "type": "string", "format": "date-time" }, "end_at": { "type": "string", "format": "date-time" } } },
      "BackfillScheduleResponse": { "type": "object", "additionalProperties": false, "required": ["schedule", "tasks"], "properties": { "schedule": { "$ref": "#/components/schemas/Schedule" }, "tasks": { "type": "array", "items": { "$ref": "#/components/schemas/Task" } } } },
      "WorkflowExecution": {
        "type": "object",
        "additionalProperties": false,
        "required": ["id", "run_id", "namespace", "type", "queue", "task_id", "state", "created_at", "updated_at"],
        "properties": {
          "id": { "type": "string" },
          "run_id": { "type": "string" },
          "agent_id": { "type": "string" },
          "tenantId": { "type": "string" },
          "namespace": { "type": "string" },
          "type": { "type": "string" },
          "queue": { "type": "string" },
          "task_id": { "type": "string" },
          "state": { "$ref": "#/components/schemas/WorkflowState" },
          "attempt": { "type": "integer" },
          "run_timeout_ms": { "type": "integer" },
          "retry": { "$ref": "#/components/schemas/RetryPolicy" },
          "memo": { "type": "object", "additionalProperties": { "$ref": "#/components/schemas/JsonValue" } },
          "search_attributes": { "type": "object", "additionalProperties": { "$ref": "#/components/schemas/JsonValue" } },
          "result": { "$ref": "#/components/schemas/TaskResult" },
          "error": { "type": "string" },
          "created_at": { "type": "string", "format": "date-time" },
          "updated_at": { "type": "string", "format": "date-time" }
        }
      },
      "WorkflowHistoryEvent": {
        "type": "object",
        "additionalProperties": false,
        "required": ["id", "workflow_id", "type", "created_at"],
        "properties": {
          "id": { "type": "string" },
          "workflow_id": { "type": "string" },
          "tenantId": { "type": "string" },
          "task_id": { "type": "string" },
          "type": { "type": "string" },
          "attributes": { "type": "object", "additionalProperties": { "$ref": "#/components/schemas/JsonValue" } },
          "created_at": { "type": "string", "format": "date-time" }
        }
      },
      "WorkflowCountResponse": { "type": "object", "additionalProperties": false, "required": ["count"], "properties": { "count": { "type": "integer", "minimum": 0 } } },
      "SignalWorkflowRequest": { "type": "object", "additionalProperties": false, "required": ["name"], "properties": { "name": { "type": "string" }, "args": { "type": "array", "items": { "$ref": "#/components/schemas/JsonValue" } } } },
      "SignalWithStartWorkflowRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": ["workflowType", "signal"],
        "properties": {
          "namespace": { "type": "string" },
          "queue": { "type": "string" },
          "workflowType": { "type": "string" },
          "workflowId": { "type": "string" },
          "workflowIdReusePolicy": { "$ref": "#/components/schemas/WorkflowIdReusePolicy" },
          "lease_timeout_seconds": { "type": "integer" },
          "runTimeoutMs": { "type": "integer" },
          "retry": { "$ref": "#/components/schemas/RetryPolicy" },
          "memo": { "type": "object", "additionalProperties": { "$ref": "#/components/schemas/JsonValue" } },
          "searchAttributes": { "type": "object", "additionalProperties": { "$ref": "#/components/schemas/JsonValue" } },
          "args": { "type": "array", "items": { "$ref": "#/components/schemas/JsonValue" } },
          "signal": { "$ref": "#/components/schemas/SignalWorkflowRequest" }
        }
      },
      "SignalWithStartWorkflowResponse": { "type": "object", "additionalProperties": false, "required": ["workflow", "task", "signal"], "properties": { "workflow": { "$ref": "#/components/schemas/WorkflowExecution" }, "task": { "$ref": "#/components/schemas/Task" }, "signal": { "$ref": "#/components/schemas/WorkflowHistoryEvent" } } },
      "CancelWorkflowRequest": { "type": "object", "additionalProperties": false, "properties": { "reason": { "type": "string" } } },
      "TerminateWorkflowRequest": { "type": "object", "additionalProperties": false, "properties": { "reason": { "type": "string" } } },
      "AgentPollDirective": {
        "type": "object",
        "additionalProperties": false,
        "required": ["type"],
        "properties": {
          "type": { "$ref": "#/components/schemas/AgentPollDirectiveType" },
          "image": { "type": "string" },
          "expectedVersion": { "type": "integer" },
          "force": { "type": "boolean" },
          "logLevel": { "type": "string" },
          "subject": { "$ref": "#/components/schemas/AgentPollDirectiveSubject" }
        }
      },
      "PollTaskResponse": { "type": "object", "additionalProperties": false, "properties": { "task": { "anyOf": [{ "$ref": "#/components/schemas/Task" }, { "type": "null" }] }, "directive": { "$ref": "#/components/schemas/AgentPollDirective" } } },
      "HeartbeatTaskRequest": { "type": "object", "additionalProperties": false, "properties": { "lease_timeout_seconds": { "type": "integer", "minimum": 0 }, "event": { "$ref": "#/components/schemas/TaskEventInput" } } },
      "AppendTaskEventRequest": { "type": "object", "additionalProperties": false, "required": ["event"], "properties": { "event": { "$ref": "#/components/schemas/TaskEventInput" } } },
      "CompleteTaskRequest": { "type": "object", "additionalProperties": false, "required": ["result"], "properties": { "result": { "$ref": "#/components/schemas/TaskResult" } } },
      "BlockTaskRequest": { "type": "object", "additionalProperties": false, "properties": { "reason": { "type": "string" } } },
      "FailTaskRequest": { "type": "object", "additionalProperties": false, "required": ["error"], "properties": { "error": { "type": "string" }, "result": { "$ref": "#/components/schemas/TaskResult" } } },
      "RefreshAgentSessionRequest": { "type": "object", "additionalProperties": false, "required": ["refreshToken"], "properties": { "refreshToken": { "type": "string" } } },
      "AgentSessionResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": ["agentId", "tenantId", "tokenFamilyId", "accessToken", "refreshToken", "accessExpiresAt", "refreshExpiresAt", "status", "trustState"],
        "properties": {
          "agentId": { "type": "string" },
          "tenantId": { "type": "string" },
          "tokenFamilyId": { "type": "string" },
          "accessToken": { "type": "string" },
          "refreshToken": { "type": "string" },
          "accessExpiresAt": { "type": "string", "format": "date-time" },
          "refreshExpiresAt": { "type": "string", "format": "date-time" },
          "status": { "type": "string" },
          "trustState": { "type": "string" },
          "trustReason": { "type": "string" }
        }
      },
      "SandboxResourceLimits": {
        "type": "object",
        "additionalProperties": false,
        "properties": { "cpus": { "type": "number" }, "memoryBytes": { "type": "integer" }, "diskBytes": { "type": "integer" } }
      },
      "SandboxPortMapping": {
        "type": "object",
        "additionalProperties": false,
        "required": ["hostPort", "guestPort"],
        "properties": { "hostPort": { "type": "integer" }, "guestPort": { "type": "integer" }, "protocol": { "type": "string" } }
      },
      "SandboxNetworkPolicy": {
        "type": "object",
        "additionalProperties": false,
        "required": ["internetEgress", "denyHostAccess"],
        "properties": {
          "internetEgress": { "type": "boolean" },
          "allowCidrs": { "type": "array", "items": { "type": "string" } },
          "denyHostAccess": { "type": "boolean" },
          "ports": { "type": "array", "items": { "$ref": "#/components/schemas/SandboxPortMapping" } }
        }
      },
      "Sandbox": {
        "type": "object",
        "additionalProperties": false,
        "required": ["tenantId", "id", "name", "createdBy", "desiredState", "observedState", "generation", "observedGeneration", "backend", "isolationClass", "image", "resourceLimits", "networkPolicy", "createdAt", "updatedAt"],
        "properties": {
          "tenantId": { "type": "string" },
          "id": { "type": "string" },
          "name": { "type": "string" },
          "createdBy": { "type": "string" },
          "agentId": { "type": "string" },
          "desiredState": { "$ref": "#/components/schemas/SandboxDesiredState" },
          "observedState": { "$ref": "#/components/schemas/SandboxObservedState" },
          "generation": { "type": "integer" },
          "observedGeneration": { "type": "integer" },
          "backend": { "$ref": "#/components/schemas/SandboxBackend" },
          "isolationClass": { "type": "string" },
          "image": { "type": "string" },
          "architecture": { "type": "string" },
          "workspaceId": { "type": "string" },
          "repositoryName": { "type": "string" },
          "setupCommand": { "type": "array", "items": { "type": "string" } },
          "credentialRefs": { "type": "array", "items": { "type": "string" } },
          "resourceLimits": { "$ref": "#/components/schemas/SandboxResourceLimits" },
          "networkPolicy": { "$ref": "#/components/schemas/SandboxNetworkPolicy" },
          "labels": { "type": "object", "additionalProperties": { "type": "string" } },
          "runtimeInstanceId": { "type": "string" },
          "failureCode": { "type": "string" },
          "failureMessage": { "type": "string" },
          "expiresAt": { "anyOf": [{ "type": "string", "format": "date-time" }, { "type": "null" }] },
          "lastActivityAt": { "anyOf": [{ "type": "string", "format": "date-time" }, { "type": "null" }] },
          "createdAt": { "type": "string", "format": "date-time" },
          "updatedAt": { "type": "string", "format": "date-time" },
          "stoppedAt": { "anyOf": [{ "type": "string", "format": "date-time" }, { "type": "null" }] },
          "deletedAt": { "anyOf": [{ "type": "string", "format": "date-time" }, { "type": "null" }] }
        }
      },
      "SandboxCreateRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": ["name", "image"],
        "properties": {
          "name": { "type": "string", "pattern": "^[a-zA-Z0-9][a-zA-Z0-9._-]{0,62}$" },
          "backend": { "$ref": "#/components/schemas/SandboxBackend" },
          "image": { "type": "string", "minLength": 1 },
          "architecture": { "type": "string" },
          "workspaceId": { "type": "string" },
          "repositoryName": { "type": "string" },
          "setupCommand": { "type": "array", "items": { "type": "string" } },
          "credentialRefs": { "type": "array", "items": { "type": "string" } },
          "resourceLimits": { "$ref": "#/components/schemas/SandboxResourceLimits" },
          "networkPolicy": { "$ref": "#/components/schemas/SandboxNetworkPolicy" },
          "labels": { "type": "object", "additionalProperties": { "type": "string" } },
          "expiresAt": { "type": "string", "format": "date-time" }
        }
      },
      "SandboxListResponse": { "type": "object", "additionalProperties": false, "required": ["sandboxes"], "properties": { "sandboxes": { "type": "array", "items": { "$ref": "#/components/schemas/Sandbox" } } } },
      "CreateSandboxSessionRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "rows": { "type": "integer", "minimum": 1, "example": 24 },
          "columns": { "type": "integer", "minimum": 1, "example": 80 },
          "kind": { "$ref": "#/components/schemas/SandboxSessionKind" },
          "command": { "type": "array", "items": { "type": "string" } }
        }
      },
      "CreateSandboxSessionResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": ["id", "ticket", "expiresAt"],
        "properties": { "id": { "type": "string" }, "ticket": { "type": "string" }, "expiresAt": { "type": "string", "format": "date-time" } }
      },
      "SandboxWorkspace": {
        "type": "object",
        "additionalProperties": false,
        "required": ["tenantId", "id", "sha256", "sizeBytes", "repositoryName", "createdBy", "createdAt", "expiresAt"],
        "properties": {
          "tenantId": { "type": "string" },
          "id": { "type": "string" },
          "sha256": { "type": "string" },
          "sizeBytes": { "type": "integer" },
          "repositoryName": { "type": "string" },
          "revision": { "type": "string" },
          "createdBy": { "type": "string" },
          "createdAt": { "type": "string", "format": "date-time" },
          "expiresAt": { "type": "string", "format": "date-time" }
        }
      },
      "ErrorResponse": { "type": "object", "additionalProperties": false, "required": ["error"], "properties": { "error": { "type": "string" }, "code": { "type": "string" } } }
    }
  }
}
